@{
  Layout = "_Layout";
}

@* @model directive --> Namespace.Models.Class *@
@model ToDoList.Models.Item

<h4>Add a new task</h4>
<p>@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
@* sends HTTP POST request by default to *current* URL || RESTful no more! *@
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")

  @Html.LabelFor(model => model.DueBy)
  @Html.TextBoxFor(model => model.DueBy, new { type="datetime-local"})

  <input type="submit" value="Add new task" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>